.about-container {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      rgba(0, 53, 102, 1.8) 2.31%,
      rgba(0, 6, 10, 0.8) 102.31%,
      rgba(8, 152, 242, 0.6) 102.31%
    ),
    url("../components/background_services.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 2080px;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.about-title .line_1,
.about-title .line_2 {
  top: 504px;
  background-color: white;
  height: 2px;
}

.about-title {
  position: absolute;
  color: white;
  top: 150px;
  height: 85px;
  width: 1300px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-title .line_1 {
  width: 10%;
  top: 542px;
  left: 287px;
  border: 2px, color white (255, 255, 255, 1);
}

.about-title .line_2 {
  width: 55%;
  top: 541px;
  left: 950px;
  border: 2px, color(white 255, 255, 255, 1);
}

.about-title h2 {
  font-size: 2.6vw;
  line-height: 85px;
  letter-spacing: -1.46px;
  font-weight: 900px;
}

.about-portfolio {
  position: absolute;
  top: 627px;
  width: 1352px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.about-portfolio-section {
  flex: 1;
  overflow: hidden;
}

.valores,
.mision,
.vision {
  z-index: 1000;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.valores h1,
.mision h1,
.vision h1 {
  position: relative;
  width: 50%;
  color: rgba(255, 195, 0, 1);
  font-size: 45px;
  font-weight: 900;
  line-height: 54.46px;
  letter-spacing: -1.4600000381469727px;
  text-align: left;
  top: 120px;
  left: 141px;
}

.image {
  position: absolute;
  width: 100%;
  height: 321px;
  top: -350px;
  text-align: center;
  /* left: 410px; */
}

/* .image img {
  justify-self: center;
} */

.valores,
.mision,
.vision {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.valores {
  background-image: linear-gradient(rgba(0, 29, 61, 0.4), rgba(0, 53, 102, 0.4)),
    url("../components/diamond.svg");
  border-radius: 35px 35px 0 0;
}

.mision {
  background-image: linear-gradient(rgba(0, 29, 61, 0.4), rgba(0, 53, 102, 0.4)),
    url("../components/mision.svg");
}

.vision {
  background-image: linear-gradient(rgba(0, 29, 61, 0.4), rgba(0, 53, 102, 0.4)),
    url("../components/vision.svg");
  border-radius: 0 0 35px 35px;
}

.about-text-valores,
.about-text-mision,
.about-text-vision {
  display: inline-block;
  position: relative;
  top: 80px;
  left: 141px;
  width: 873px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.31px;
  letter-spacing: -1.46px;
  color: white;
}

.about-text-valores {
  font-size: 32px;
}

/* Portatil */
@media (min-width: 900px) and (max-width: 1400px) {
  .about-container {
    height: 1900px;
  }

  .about-title .line_1,
  .about-title .line_2 {
    top: 100px;
  }

  .about-title .line_1 {
    width: 10%;
  }

  .about-title .line_2 {
    width: 58%;
  }

  .about-title {
    top: 150px; /* Ajuste de posición */
    width: 90%; /* Ajuste de ancho */
  }

  .about-title h2 {
    font-size: 2.6vw;
    line-height: 30px;
    letter-spacing: -1.46px;
    font-weight: 900px;
  }

  .about-portfolio {
    top: 610px; /* Ajuste de posición */
    width: 90%; /* Ajuste de ancho */
  }

  .valores h1,
  .mision h1,
  .vision h1 {
    font-size: 35px;
    line-height: 45px;
    top: 80px;
    left: 70px;
  }

  .about-text-valores,
  .about-text-mision,
  .about-text-vision {
    top: 50px;
    left: 70px;
    width: 73%;
    font-size: 25px;
    line-height: 30px;
  }
}

/* Tablet */
@media (min-width: 700px) and (max-width: 900px) {
  .about-container {
    height: 1950px;
  }

  .about-title .line_1,
  .about-title .line_2 {
    top: 100px;
  }

  .about-title .line_1 {
    width: 10%;
  }

  .about-title .line_2 {
    width: 45%;
  }

  .about-title {
    top: 150px; /* Ajuste de posición */
    width: 90%; /* Ajuste de ancho */
  }

  .about-title h2 {
    font-size: 4vw;
    line-height: 30px;
    letter-spacing: -1.46px;
    font-weight: 900px;
  }

  .about-portfolio {
    top: 610px; /* Ajuste de posición */
    width: 90%; /* Ajuste de ancho */
  }

  .valores h1,
  .mision h1,
  .vision h1 {
    font-size: 35px;
    line-height: 45px;
    top: 80px;
    left: 70px;
  }

  .about-text-valores,
  .about-text-mision,
  .about-text-vision {
    top: 50px;
    left: 70px;
    width: 73%;
    font-size: 25px;
    line-height: 30px;
  }

  .valores,
  .mision,
  .vision {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Telefono */
@media (min-width: 370px) and (max-width: 700px) {
  .about-container {
    height: 1900px;
  }

  .about-title .line_1,
  .about-title .line_2 {
    top: 100px;
  }

  .about-title .line_1 {
    width: 7%;
  }

  .about-title .line_2 {
    width: 7%;
  }

  .about-title {
    top: 150px; /* Ajuste de posición */
    width: 90%; /* Ajuste de ancho */
  }

  .about-title h2 {
    font-size: 8vw;
    line-height: 30px;
    letter-spacing: -1.46px;
    font-weight: 900px;
  }

  .about-portfolio {
    top: 610px; /* Ajuste de posición */
    width: 90%; /* Ajuste de ancho */
  }

  .valores h1,
  .mision h1,
  .vision h1 {
    font-size: 25px;
    line-height: 45px;
    top: 80px;
    width: 56%;
    left: 70px;
  }

  /* .image {
    transform: scale(0.6);
  } */

  .image img {
    width: 100%;
    height: 100%;
  }

  .about-text-valores,
  .about-text-mision,
  .about-text-vision {
    top: 50px;
    left: 70px;
    width: 73%;
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
  }

  .valores,
  .mision,
  .vision {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 320px) and (max-width: 370px) {
  .about-container {
    height: 1900px;
  }

  .about-title .line_1,
  .about-title .line_2 {
    top: 100px;
  }

  .about-title .line_1 {
    width: 7%;
  }

  .about-title .line_2 {
    width: 7%;
  }

  .about-title {
    top: 150px; /* Ajuste de posición */
    width: 90%; /* Ajuste de ancho */
  }

  .about-title h2 {
    font-size: 8vw;
    line-height: 30px;
    letter-spacing: -1.46px;
    font-weight: 900px;
  }

  .about-portfolio {
    top: 610px; /* Ajuste de posición */
    width: 90%; /* Ajuste de ancho */
  }

  .valores h1,
  .mision h1,
  .vision h1 {
    font-size: 25px;
    line-height: 45px;
    top: 80px;
    width: 56%;
    left: 70px;
  }

  /* .image {
    transform: scale(0.5);
  } */

  .image img {
    width: 100%;
    height: 100%;
  }

  .about-text-valores,
  .about-text-mision,
  .about-text-vision {
    top: 50px;
    left: 70px;
    width: 73%;
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
  }

  .valores,
  .mision,
  .vision {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
