.automate-top-banner{
    margin: 0;
    padding: 0;
    background-image: url('../components/rascaciielos1.svg');
    height: 386px;
    z-index: -1;
    display: flex;
    position: relative;
}
.blend::before{
    content: ""; /* Agrega esta línea para que el seudoelemento funcione correctamente */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #003566; /* Color del rectángulo, puedes cambiarlo según tus necesidades */
    opacity: 0.4; /* Ajusta la opacidad según tus necesidades */
    mix-blend-mode: multiply;
}
.automate-top-container{
    margin-top: 102px;
    margin-left: 150px;
    margin-bottom: 17px;
    gap: 24px;
    position: relative;
    display: flex;
    flex-direction: column;

}
.automate-top-container h1{
    height: 85px;
    letter-spacing: -1.46 px;
    font-size: 77px;
    font-weight: 1035px;
    line-height: 85px;
    margin: 0;
    padding: 0;
    color: var(--color-yellow-primary)
}
.blue-button {
    top: 312px;
    border: none;
    border-radius: 16px;
    width: 387px;
    height:52px;
    gap:8px;
    margin-right: 8px; 
    align-items: center;
    display:  flex;
    justify-content: center;
    cursor: pointer;
}
.blue-button span{
    height: 23px;
    width: 23px;
}
.content-automate{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
                 rgba(0, 53, 102, 0.6), 
                rgba(0, 6, 10, 0.6),
                rgba(8, 152, 242, 0.6))
    ,url('../components/background_services.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 2618px;
    z-index: -1;
    display: flex;
    justify-content: center;
}
.automate-container{
    position:absolute;
    top:627px;
    width:1246px;
    height:2291px;
    border-radius: 45px;
    background-color: white;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 40px 50px 40px 50px;
    gap: 20px;
}
.automate-container h3{
    font-weight: 500;
    size: 24px;
    line-height: 29.05px;
    letter-spacing: -1.46px;
    color: rgba(0, 29, 61, 1);
}
.automate-container > div:nth-child(1) h2{
    font-weight: 700;
    size: 30px;
    line-height: 36.31px;
    letter-spacing: -1.46px;
    color: rgba(0, 117, 191, 1);
    margin: 0;
    width: auto;
    height: auto;
}
.automate-container > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(0, 29, 61, 1);
}
.automate-container > div:nth-child(1) > div:nth-child(2){
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.automate-container > div:nth-child(1) > div:nth-child(2) div{
    text-align: center;
    width: auto;
}
.automate-container > div:nth-child(1) > div:nth-child(2) img{
    height: 80px;
    width: 80px;
}
.automate-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(4){
    width: 366px;
}
.automate-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(2){
    width: 227px;
}

.automate-container h2{
    font-weight: 700;
    size: 30px;
    line-height: 85px;
    letter-spacing: -1.46px;
    color: rgba(0, 117, 191, 1);
    margin: 0;
    width: 424px;
    height: 53px;
    margin-bottom: 40px;
}
.automate-container > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(0, 29, 61, 1);
    padding-bottom: 20px;
}
.automate-container > div:nth-child(2) > div{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
}
.automate-container > div:nth-child(2) > div > div:first-child{
    width: 481px;
    height: 450px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("../components/automate-client1.svg");
}
.automate-container > div:nth-child(2) > div > div:nth-child(2){
    width: 725px;
    height: 450px;
}
.automate-container > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(0, 29, 61, 1);
}
.automate-container > div:nth-child(3) > div{
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    gap: 20px;
}
.automate-container > div:nth-child(3) > div > div:nth-child(2){
    width: 481px;
    height: 407px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("../components/automate-client2.svg");
    border-radius: 43px;
}
.automate-container > div:nth-child(3) > div > div:first-child{
    width: 725px;
    height: 407px;
}

.automate-container > div:nth-child(4) {
    display: flex;
    flex-direction: column;
}
.automate-container > div:nth-child(4) > div{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
}
.automate-container > div:nth-child(4) > div > div:first-child{
    width: 481px;
    height: 552px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("../components/automate-client3.svg");
}
.automate-container > div:nth-child(4) > div > div:nth-child(2){
    width: 725px;
    height: 450px;
}

.automate-container div{
    width: 100%;
    height: 100%;
}
.automate-title{
    width:1346px;
    height: 145px;
    display: flex;
    justify-content: space-evenly;
}
.automate-title h1{
    text-transform: uppercase;
    font-weight: 900;
    size: 45px;
    line-height: 85px;
    letter-spacing: -1.46 px;
    align-items: center;
    color: white;
}
.mid-line-container{
    width: 177px;
    height: 2px;
    background-color: white;
    align-self: center;
}
