.footer-container{
    height: 274px;
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding:10px 150px;
}
.footer-info-container{
    gap: 240px;
    display: flex;
    align-items:center;
}
.logo-5ig-footer{
    width:209px;
    height: 130px;
}

.footer-general-info {
    font-family: Inter;
    color: white;
    width: 188px;
    height: 160px;
}

.footer-logos{
    display: flex;
    width: 68px;
    height:24px;
    gap: 20px;
}
