.header-container {
  height: auto;
  display: grid;
  padding: 0.5rem 4rem;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--color-primary);
  justify-content: space-between;
}

.header-home-container {
  display: flex;
  align-items: center;
  margin-left: 80px;
  padding-top: 4px;
  gap: 1rem;
}

.header-contact-container {
  display: flex;
  gap: 1rem;
  justify-self: end;
  align-items: center;
}

.header-logos {
  display: flex;
  width: 68px;
  height: 24px;
  gap: 20px;
}
.header-logos img {
  cursor: pointer;
}

.img-5ig {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.logo-5ig {
  width: 95px;
  height: 55px;
  cursor: pointer;
}

.header-button {
  width: auto;
  height: 45px;
  border-radius: 30px;
  background: var(--color-primary);
  color: white;
  border: none;
  transition: ease-in 0.1s;
  letter-spacing: -1.46px;
  padding: 0 1.5rem;
  font-size: 20px;
  font-weight: 500;
}

#contract{
  background-color: var(--color-yellow-primary);
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 500;
}
#contract:hover{
  background: linear-gradient(180deg, #0898F2 0%, #003566 100%);
  color:white;
}

.header-button:hover {
  color: #FFC300;
  cursor: pointer;
}

a {
  cursor: pointer;
}
