body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #000814;
  --color-secondary: #001d3d;
  --color-background: #003566;
  --color-:#0075bf;
  --color-yellow-primary:#ffc300;
  --color-yellow-secondary:#ffd60a;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea
{
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el resaltado de enfoque */
}
