.services-container {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 53, 102, 0.6),
      rgba(0, 6, 10, 0.6),
      rgba(8, 152, 242, 0.6)
    ),
    url("../components/background_services.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 204.1875rem;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.services-title {
  position: absolute;
  color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  width: 70%;
}

.first-child {
  top: 625px;
}

.second-child {
  top: 3050px;
}
.second-child .line_1 {
  width: 113px;
}
.second-child .line_2 {
  width: 562px;
}

.services-title .line_1,
.services-title .line_2 {
  top: 48.125rem;
  background-color: white;
  height: 0.125rem;
}

.services-title .line_1 {
  width: 7.4375rem;
}
.services-title .line_2 {
  width: 55.75rem;
}

.services-title h2 {
  font-size: 55px;
  line-height: 85px;
  letter-spacing: -1.46px;
  font-weight: 900px;
}

.services-portfolio {
  position: absolute;
  top: 45.4375rem;
  width: 70%;
  height: auto;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.45);
  border-radius: 35px;
}

.services-portfolio-height {
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ia {
  background-image: linear-gradient(rgba(0, 29, 61, 0.4), rgba(0, 53, 102, 0.4)),
    url("../components/ia.svg");
  border-radius: 35px 35px 0 0;
}
.ia h2,
.rpa h2,
.cloud h2,
.bi h2,
.wdad h2 {
  margin: 0;
  padding: 0;
  gap: 40px;
  width: 536px;
  height: 178px;
  color: white;
  font-weight: 900;
  font-size: 31px;
  line-height: 42.36px;
  letter-spacing: -1.46px;
}

.max-container-services {
  display: inline-block;
  position: relative;
  max-height: 178px;
  top: 193px;
  gap: 40px;
}
.max-container-services button:hover {
  background: linear-gradient(#ffd60a, #fbbc05);
}

.l {
  left: 10.42%;
  max-width: 39.64%;
}
.r {
  left: 60.0591%;
  max-width: 22.63%;
}

.r h2 {
  width: 100%;
}

.max-container-services h2 {
  height: 84px;
}
.max-container-services button {
  margin-top: 40px;
  height: 54px;
  background-color: var(--color-yellow-primary);
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: bold;
  padding: 16px 28px;
  border-radius: 16px;
  border: none;
}

.rpa {
  background-image: linear-gradient(rgba(0, 29, 61, 0.4), rgba(0, 53, 102, 0.4)),
    url("../components/rpa.svg");
}

.cloud {
  background-image: linear-gradient(rgba(0, 29, 61, 0.4), rgba(0, 53, 102, 0.4)),
    url("../components/cloud.svg");
}
.bi {
  background-image: linear-gradient(rgba(0, 29, 61, 0.4), rgba(0, 53, 102, 0.4)),
    url("../components/bi.svg");
}

.wdad {
  background-image: linear-gradient(rgba(0, 29, 61, 0.4), rgba(0, 53, 102, 0.4)),
    url("../components/wd&ad.svg");
  border-radius: 0 0 35px 35px;
}

.second-child h2 {
  width: 630.39px;

  font-size: 2.5rem;
  font-weight: 900px;
  padding: 0;
  margin: 0;
}

.container-about-us-grid {
  position: absolute;
  width: 70%;
  height: 457px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  top: 3187px;
  gap: 1.3%;
  text-align: center;
}

.about-us {
  width: 100%;
  height: 457px;
  border-radius: 42px;
  background-image: url("../components/about-us.svg");
  gap: 40px;
}

.text-about-us {
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.text-about-us h3,
.text-about-us p {
  width: 100%;
  margin: 0 auto;
}

.text-about-us p,
.text-about-us h3 {
  color: white;
}

.text-about-us p,
.text-about-us h3,
.button-contact-us {
  margin-top: 25px;
}

.text-about-us a {
  width: 60%;
}

.button-contact-us {
  display: flex;
  justify-content: center;
  width: 421px;
  height: 52px;
  background-color: var(--color-yellow-primary);
  color: var(--color-secondary);
  border: none;
  padding: 13px 28px;
  border-radius: 16px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  gap: 8px;
  font-weight: bold;
  background-repeat: no-repeat;
}

.button-contact-us .img_link {
  background-image: url("../components/linkedin2.svg");
  width: 24px;
  height: 24px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.button-contact-us p {
  margin: 0;
  text-align: center;
  align-self: center;
  color: #000814;
}
.button-contact-us:hover {
  background: linear-gradient(#ffd60a, #fbbc05);
}

/*Portatil*/

@media (min-width: 900px) and (max-width: 1617px) {
  .r {
    left: 48.0591%;
    max-width: 47.63%;
  }

  .second-child .line_1 {
    width: 60px;
  }
  .second-child .line_2 {
    width: 260px;
  }
  .second-child h2 {
    font-size: 2.3rem;
  }
  .container-about-us-grid {
    gap: 3px;
  }
  .text-about-us {
    justify-self: center;
    text-align: justify;
    width: 65%;
  }
  .button-contact-us {
    width: auto;
    justify-self: center;
  }
}

/*Tablet*/
@media (min-width: 781px) and (max-width: 900px) {
  .r {
    left: 48.0591%;
    max-width: 50.63%;
  }

  .second-child h2 {
    font-size: 1.9rem;
    line-height: 8px;
  }
  .second-child .line_1 {
    width: 60px;
  }
  .second-child .line_2 {
    width: 260px;
  }
  .container-about-us-grid {
    gap: 3px;
  }
  .text-about-us {
    justify-self: center;
    text-align: justify;
    width: 65%;
  }
  .button-contact-us {
    width: auto;
    justify-self: center;
    margin-left: 0;
  }
}

/*Telefono*/
@media (min-width: 300px) and (max-width: 781px) {
  .text-about-us {
    justify-self: center;
    text-align: justify;
    width: 65%;
  }

  .r {
    left: 39.059%;
    max-width: 58%;
  }
  .l {
    left: 5.42%;
    max-width: 39.64%;
  }
  .l button,
  .r button {
    font-size: 15px;
  }

  .r h2,
  .l h2 {
    font-size: 1rem;
    line-height: 30px;
  }

  .services-container {
    height: 220.1875rem;
  }
  .container-about-us-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinea los elementos flexibles en el centro */
    gap: 3px;
  }
  .text-about-us a {
    width: 30%;
  }
  .button-contact-us {
    align-self: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 75%;
  }
  .second-child .line_1 {
    width: 10%;
  }
  .second-child .line_2 {
    width: 10%;
  }
  .second-child h2 {
    width: 64%;
    font-size: 1.1rem;
    line-height: 1px;
    height: 0px;
  }
  .first-child .line_1,
  .first-child .line_2 {
    width: 10%;
  }

  #services-container {
    height: 235.1875rem;
  }
  .ia h2,
  .wdad h2 {
    width: 55.8vw;
  }
  .cloud h2 {
    width: auto;
  }
  .button-contact-us {
    align-self: center;
    margin: 0 auto;
    margin-top: 13px;
    width: 100%;
  }
  .button-contact-us p {
    font-size: 0.7rem;
    margin: 0;
    text-align: center;
    align-self: center;
    color: #000814;
  }
  .button-contact-us .img_link {
    width: 35px;
    height: 24px;
  }
}

@media (min-width: 300px) and (max-width: 375px) {
  .second-child h2 {
    width: 220%;
    font-size: 1.3rem;
    line-height: 1px;
    height: 0px;
  }

  .l button,
  .r button {
    font-size: 13px;
  }

  .r {
    left: 39.059%;
    max-width: 58%;
  }

  .second-child {
    top: 3020px;
    width: 100%;
    text-align: center;
  }

  .second-child .line_1,
  .second-child .line_2 {
    display: none;
  }

  .services-title .line_1,
  .services-title .line_2 {
    display: none;
  }

  .services-title h2 {
    font-size: 2.5rem;
    line-height: 45px;
    letter-spacing: -1.46px;
    font-weight: 900px;
  }

  #services-container {
    height: 245.1875rem;
  }
}
