.container_content {
    padding: 50px;
    height:399px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;    
    grid-template-columns: repeat(2,1fr);
    text-align: justify;
    align-items: center;
}
.desc_service{
    width:550px;
    height: 212px;
    margin: 80px;/*creo que me toca calcularlo para el responsive (height_padre - altura_texto)/2 */
}

.image_service{
    max-width:699px;
    height:399px;
    border-radius: 45px;
}

.parent_container{
    background-color: white;
    width: 1620px;
    margin: 0 auto;
    height: auto;
    border-radius: 45px;
    box-shadow: 4px 4px 20px 0px #00000040;
    
}


.content-services{
    background-color:#F0F0F0;
}

.img-banner {
    position: relative;
    background: #003566;
    width: 100vw;
}
  
.img-banner img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 60%;
}
  
.img-banner h1 {
    position: absolute;
    width: 63.125rem;
    height: 15.75rem;
    top: calc(90% - 1.875rem);
    left: 5.9375rem;
    font-weight: 900;
    font-size: 2.8125rem;
    line-height: 3.40375rem;
    letter-spacing: 0.09125rem;
    transform: translateY(-50%);
    color: white;
}

.img-banner button {
    position: absolute;
    width: 24.1875rem;
    top: calc(85% - 1.875rem);
    height: 3.375rem;
    left: calc(67% - 1.875rem);
    transform: translateY(-50%);
    padding: 1rem 1.75rem 1rem 1.75rem;
    background: var(--color-yellow-primary);
    color: var(--color-secondary);
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    /* font-style: "Manrope"; */
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
}
  
